streamlit
streamlit-option-menu
openai
python-dotenv
streamlit-webrtc 
google-cloud-speech 
gtts
SpeechRecognition
pyaudio
pygame
audio_recorder_streamlit
numpy
pydub
av 
textblob 
vaderSentiment 
textstat 
gingerit
language-tool-python
pandas
matplotlib
plotly
streamlit_chat